{% extends 'dashboard/main/base.html' %}
{% block content %}
{% load static %}

    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Moje Materiały</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- Knowledge base Jumbotron -->
                <section id="knowledge-base-search">
                    <div class="row">
                        <div class="col-12">
                            <div class="card knowledge-base-bg text-center" style="background-image: url('../../../app-assets/images/banner/banner.png')">
                                <div class="card-body">
                                    <h2 class="text-primary">Kim chcesz zostać?</h2>
                                    <p class="card-text mb-2">
                                        <!--<span>Popular searches: </span><span class="font-weight-bolder">Sales automation, Email marketing</span>-->
                                    </p>
                                    <form class="kb-search-input">
                                        <div class="input-group input-group-merge">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i data-feather="search"></i></span>
                                            </div>
                                            <input type="text" class="form-control" id="searchbar" placeholder="Czego szukasz..." />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--/ Knowledge base Jumbotron -->

                <!-- Knowledge base -->
                <section id="knowledge-base-content">
                    <div class="row">
                        {% for roadmap in list_of_roadmaps %}
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="card card-developer-meetup">
                                    <div class="meetup-img-wrapper rounded-top text-center">
                                        <img src="{% static 'dashboard/app-assets/images/illustration/email.svg' %}" alt="Meeting Pic" height="170">
                                    </div>
                                    <div class="card-body">
                                <h3>{{roadmap.title}}</h3>
                                <h6 class="text-muted">Malaysia</h6>
                                <div class="badge badge-light-primary profile-badge">Pro Level</div>
                                <hr class="mb-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h6 class="text-muted font-weight-bolder">Followers</h6>
                                        <h3 class="mb-0">10.3k</h3>
                                    </div>
                                    <div>
                                        <h6 class="text-muted font-weight-bolder">Projects</h6>
                                        <h3 class="mb-0">156</h3>
                                    </div>
                                    <div>
                                        <h6 class="text-muted font-weight-bolder">Rank</h6>
                                        <h3 class="mb-0">23</h3>
                                    </div>
                                </div>

                            </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
                <!-- Knowledge base ends -->

            </div>
        </div>
    </div>
    <!-- END: Content-->

{% endblock %}