{% extends 'dashboard/main/base.html' %}
{% block content %}
{% load static %}

    <!-- BEGIN: Content-->
<div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Wyślij nam Feedback</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- Validation -->
                <section class="bs-validation">
                    <div class="row">
                        <!-- Bootstrap Validation -->
                        <div class="col-md-12 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <form class="needs-validation" novalidate="">
                                        <div class="row">
                                        <div class="form-group col-md-6">
                                            <label class="form-label" for="basic-addon-name">Name</label>

                                            <input type="text" id="basic-addon-name" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon-name" required="">
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">Please enter your name.</div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="form-label" for="basic-default-email1">Email</label>
                                            <input type="email" id="basic-default-email1" class="form-control" placeholder="john.doe@email.com" aria-label="john.doe@email.com" required="">
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">Please enter a valid email</div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="select-country1">O czym chcesz dać znać</label>
                                            <select class="form-control" id="select-country1" required="">
                                                <option value="">Wybierz typ sprawy</option>
                                                <option value="problem">Znalazłem błąd</option>
                                                <option value="feature">Nowy feature</option>
                                                <option value="other">Inne</option>
                                            </select>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">Wybierz proszę typ sprawy</div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="customFile1">Załącznik</label>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="customFile1" required="">
                                                <label class="custom-file-label" for="customFile1">BABCIA_LEKI.docx</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="d-block" for="validationBioBootstrap">Bio</label>
                                            <textarea class="form-control" id="validationBioBootstrap" name="validationBioBootstrap" rows="3" required="" style="margin-top: 0px; margin-bottom: 0px; height: 149px;"></textarea>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-primary ml-1 waves-effect waves-float waves-light">Wyślij</button>
                                            </div>
                                        </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /Bootstrap Validation -->
                    </div>
                </section>
                <!-- /Validation -->

            </div>
        </div>
    </div>
    <!-- END: Content-->

{% endblock %}