{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <meta name="description" content="Vuexy admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Vuexy admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>HelloCoder - Twój rozwój w IT</title>
    <link rel="apple-touch-icon" href="{% static 'dashboard/app-assets/images/ico/apple-icon-120.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'dashboard/app-assets/images/ico/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/app-assets/vendors/css/vendors.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/app-assets/vendors/css/charts/apexcharts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/app-assets/vendors/css/extensions/toastr.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/app-assets/vendors/css/extensions/nouislider.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/app-assets/vendors/css/extensions/jstree.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/app-assets/vendors/css/forms/select/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css' %}">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/app-assets/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/app-assets/css/bootstrap-extended.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/app-assets/css/colors.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/app-assets/css/components.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/app-assets/css/themes/dark-layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/app-assets/css/themes/bordered-layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/app-assets/css/themes/semi-dark-layout.css' %}">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/app-assets/css/core/menu/menu-types/vertical-menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/app-assets/css/pages/dashboard-ecommerce.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/app-assets/css/pages/app-ecommerce.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/app-assets/css/plugins/charts/chart-apex.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/app-assets/css/plugins/extensions/ext-component-toastr.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/app-assets/css/plugins/extensions/ext-component-slider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/app-assets/css/plugins/extensions/ext-component-tree.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/app-assets/css/pages/app-file-manager.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/app-assets/css/plugins/forms/form-validation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/app-assets/css/plugins/forms/pickers/form-flat-pickr.css' %}">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/assets/css/style.css' %}">
    <!-- END: Custom CSS-->

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

    <!-- BEGIN: Header-->
    <nav class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-light navbar-shadow container-xxl">
        <div class="navbar-container d-flex content">
            <div class="bookmark-wrapper d-flex align-items-center">

                <ul class="nav navbar-nav d-xl-none">
                    <li class="nav-item"><a class="nav-link menu-toggle" href="javascript:void(0);"><i class="ficon" data-feather="menu"></i></a></li>
                </ul>
               <!-- <ul class="nav navbar-nav bookmark-icons">
                    <li class="nav-item d-none d-lg-block"><a class="nav-link" href="app-email.html" data-toggle="tooltip" data-placement="top" title="Email"><i class="ficon" data-feather="mail"></i></a></li>
                    <li class="nav-item d-none d-lg-block"><a class="nav-link" href="app-chat.html" data-toggle="tooltip" data-placement="top" title="Chat"><i class="ficon" data-feather="message-square"></i></a></li>
                    <li class="nav-item d-none d-lg-block"><a class="nav-link" href="app-calendar.html" data-toggle="tooltip" data-placement="top" title="Calendar"><i class="ficon" data-feather="calendar"></i></a></li>
                    <li class="nav-item d-none d-lg-block"><a class="nav-link" href="app-todo.html" data-toggle="tooltip" data-placement="top" title="Todo"><i class="ficon" data-feather="check-square"></i></a></li>
                </ul>-->
                <ul class="nav navbar-nav">
                    <li class="nav-item d-none d-lg-block"><a class="nav-link nav-link-style"><i class="ficon" data-feather="moon"></i></a></li>
                    <li class="nav-item nav-search"><a class="nav-link nav-link-search"><i class="ficon" data-feather="search"></i></a>
                    <div class="search-input">
                        <div class="search-input-icon"><i data-feather="search"></i></div>
                        <input class="form-control input" type="text" placeholder="Szukaj..." tabindex="-1" data-search="search">
                        <div class="search-input-close"><i data-feather="x"></i></div>
                        <ul class="search-list search-list-main"></ul>
                    </div>
                </li>
                    <!--<li class="nav-item d-none d-lg-block"><a class="nav-link bookmark-star"><i class="ficon text-warning" data-feather="star"></i></a>
                        <div class="bookmark-input search-input">
                            <div class="bookmark-input-icon"><i data-feather="search"></i></div>
                            <input class="form-control input" type="text" placeholder="Bookmark" tabindex="0" data-search="search">
                            <ul class="search-list search-list-bookmark"></ul>
                        </div>
                    </li>-->
                </ul>
            </div>
            <ul class="nav navbar-nav align-items-center ml-auto">
                <li class="nav-item dropdown dropdown-user"><a class="nav-link dropdown-toggle dropdown-user-link" id="dropdown-user" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="user-nav d-sm-flex d-none"><span class="user-name font-weight-bolder">John Doe</span></div><span class="avatar"><img class="round" src="{% static 'dashboard/app-assets/images/portrait/small/avatar-s-11.jpg' %}" alt="avatar" height="40" width="40"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-user">
                        <a class="dropdown-item" href="{% url 'settings' %}">
                            <i class="mr-50" data-feather="settings"></i> Ustawienia</a>
                        <a class="dropdown-item" href="page-pricing.html">
                            <i class="mr-50" data-feather="power"></i> Wyloguj</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <ul class="main-search-list-defaultlist d-none">
        <li class="d-flex align-items-center"><a href="javascript:void(0);">
                <h6 class="section-label mt-75 mb-0">Files</h6>
            </a></li>
        <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between w-100" href="app-file-manager.html">
                <div class="d-flex">
                    <div class="mr-75"><img src="../../../app-assets/images/icons/xls.png" alt="png" height="32"></div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">Two new item submitted</p><small class="text-muted">Marketing Manager</small>
                    </div>
                </div><small class="search-data-size mr-50 text-muted">&apos;17kb</small>
            </a></li>
        <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between w-100" href="app-file-manager.html">
                <div class="d-flex">
                    <div class="mr-75"><img src="../../../app-assets/images/icons/jpg.png" alt="png" height="32"></div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">52 JPG file Generated</p><small class="text-muted">FontEnd Developer</small>
                    </div>
                </div><small class="search-data-size mr-50 text-muted">&apos;11kb</small>
            </a></li>
        <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between w-100" href="app-file-manager.html">
                <div class="d-flex">
                    <div class="mr-75"><img src="../../../app-assets/images/icons/pdf.png" alt="png" height="32"></div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">25 PDF File Uploaded</p><small class="text-muted">Digital Marketing Manager</small>
                    </div>
                </div><small class="search-data-size mr-50 text-muted">&apos;150kb</small>
            </a></li>
        <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between w-100" href="app-file-manager.html">
                <div class="d-flex">
                    <div class="mr-75"><img src="../../../app-assets/images/icons/doc.png" alt="png" height="32"></div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">Anna_Strong.doc</p><small class="text-muted">Web Designer</small>
                    </div>
                </div><small class="search-data-size mr-50 text-muted">&apos;256kb</small>
            </a></li>
        <li class="d-flex align-items-center"><a href="javascript:void(0);">
                <h6 class="section-label mt-75 mb-0">Members</h6>
            </a></li>
        <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between py-50 w-100" href="app-user-view.html">
                <div class="d-flex align-items-center">
                    <div class="avatar mr-75"><img src="../../../app-assets/images/portrait/small/avatar-s-8.jpg" alt="png" height="32"></div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">John Doe</p><small class="text-muted">UI designer</small>
                    </div>
                </div>
            </a></li>
        <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between py-50 w-100" href="app-user-view.html">
                <div class="d-flex align-items-center">
                    <div class="avatar mr-75"><img src="../../../app-assets/images/portrait/small/avatar-s-1.jpg" alt="png" height="32"></div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">Michal Clark</p><small class="text-muted">FontEnd Developer</small>
                    </div>
                </div>
            </a></li>
        <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between py-50 w-100" href="app-user-view.html">
                <div class="d-flex align-items-center">
                    <div class="avatar mr-75"><img src="../../../app-assets/images/portrait/small/avatar-s-14.jpg" alt="png" height="32"></div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">Milena Gibson</p><small class="text-muted">Digital Marketing Manager</small>
                    </div>
                </div>
            </a></li>
        <li class="auto-suggestion"><a class="d-flex align-items-center justify-content-between py-50 w-100" href="app-user-view.html">
                <div class="d-flex align-items-center">
                    <div class="avatar mr-75"><img src="../../../app-assets/images/portrait/small/avatar-s-6.jpg" alt="png" height="32"></div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">Anna Strong</p><small class="text-muted">Web Designer</small>
                    </div>
                </div>
            </a></li>
    </ul>
    <ul class="main-search-list-defaultlist-other-list d-none">
        <li class="auto-suggestion justify-content-between"><a class="d-flex align-items-center justify-content-between w-100 py-50">
                <div class="d-flex justify-content-start"><span class="mr-75" data-feather="alert-circle"></span><span>No results found.</span></div>
            </a></li>
    </ul>
    <!-- END: Header-->


    <!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto"><a class="navbar-brand" href="../../../html/ltr/vertical-menu-template/index.html"><span class="brand-logo">
                    <img src="{% static 'dashboard/app-assets/images/logo/hellocoderlogo.png' %}" alt="logo" style="max-width: 90px;"/>
                </span></a></li>
                <li class="nav-item nav-toggle"><div class="badge badge-warning">BETA</div></li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class=" navigation-header"><span data-i18n="Apps &amp; Pages">Dashboard</span><i data-feather="more-horizontal"></i>
                </li>
                <li class=" nav-item"><a class="d-flex align-items-center" href="{% url 'home' %}"><i data-feather="home"></i><span class="menu-title text-truncate" data-i18n="Dashboard">Dashboard</span></a>
                </li>
                <li class=" nav-item"><a class="d-flex align-items-center" href="{% url 'technologie' %}"><i data-feather="code"></i><span class="menu-title text-truncate" data-i18n="Skills">Umiejętności</span></a>
                </li>
                <li class=" nav-item"><a class="d-flex align-items-center" href="{% url 'roadmaps' %}"><i data-feather="map"></i><span class="menu-title text-truncate" data-i18n="Roadmaps">Ścieżki Rozwoju</span></a>
                </li>
                <li class=" nav-item"><a class="d-flex align-items-center" href="{% url 'myresources' %}"><i data-feather="folder"></i><span class="menu-title text-truncate" data-i18n="Moje Materiały">Moje Materiały</span></a>
                </li>
                <li class=" nav-item"><a class="d-flex align-items-center" href="https://akademia.hellocoder.pl/" target="_blank"><i data-feather="book-open"></i><span class="menu-title text-truncate" data-i18n="Akademia">Akademia</span></a>
                </li>
                <li class=" nav-item"><a class="d-flex align-items-center" href="#"><i data-feather="smile"></i><span class="menu-title text-truncate" data-i18n="Społeczność">Społeczność</span></a>
                    <ul class="menu-content">
                        <li><a class="d-flex align-items-center" href="#"><i data-feather="facebook"></i><span class="menu-item text-truncate" data-i18n="Facebook">Facebook</span></a>
                        </li>
                        <li><a class="d-flex align-items-center" href="#"><i data-feather="youtube"></i><span class="menu-item text-truncate" data-i18n="Youtube">Youtube</span></a>
                        </li>
                        <li><a class="d-flex align-items-center" href="#"><i data-feather="slack"></i><span class="menu-item text-truncate" data-i18n="Slack">Slack</span></a>
                        </li>
                        <li><a class="d-flex align-items-center" href="#"><i data-feather="users"></i><span class="menu-item text-truncate" data-i18n="Circle">Circle</span></a>
                        </li>
                    </ul>
                </li>

                <li class=" navigation-header"><span data-i18n="User Interface">Użytkownik</span><i data-feather="more-horizontal"></i>
                </li>
                <li class=" nav-item"><a class="d-flex align-items-center" href="{% url 'settings' %}"><i data-feather="settings"></i><span class="menu-title text-truncate" data-i18n="Settings">Ustawienia</span></a>
                </li>
                <li class=" navigation-header"><span data-i18n="Support">Support</span><i data-feather="more-horizontal"></i>
                </li>
                <li class=" nav-item"><a class="d-flex align-items-center" href="https://www.buymeacoffee.com/hellocoder" target="_blank"><i data-feather="coffee"></i><span class="menu-title text-truncate" data-i18n="Subskrypcja">Buy Me A Coffe ;)</span></a>
                </li>
                <li class=" nav-item"><a class="d-flex align-items-center" href="{% url 'feedback' %}"><i data-feather="send"></i><span class="menu-title text-truncate" data-i18n="Feedback">Feedback</span></a>
                </li>
                <li class=" navigation-header"><span data-i18n=""></span><i data-feather="more-horizontal"></i>
                </li>
                <div class="dropdown-divider"></div>
                <li class="nav-item "><a class="d-flex align-items-center" href="#"><i data-feather="power"></i><span class="menu-title text-truncate" data-i18n="Wyloguj">Wyloguj</span></a>
                </li>
                <li class="nav-item">
                    <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button class="d-flex align-items-center" href="#" type="submit"><i data-feather="power"></i><span class="menu-title text-truncate" data-i18n="Wyloguj">{% trans 'Wyloguj się' %}</span></button>
                    </form>
                </li>


            </ul>
        </div>
    </div>
    <!-- END: Main Menu-->
    <!-- BEGIN: Content-->
    <!--====== HEADER PART ENDS ======-->

	{% block content %} {% endblock %}

    <!--====== FOOTER PART START ======-->
    <!-- END: Content-->


       <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light">
        <p class="clearfix mb-0"><span class="float-md-left d-block d-md-inline-block mt-25">COPYRIGHT &copy; 2021<a class="ml-25" href="https://hellocoder.pl/" target="_blank">HelloCoder</a><span class="d-none d-sm-inline-block">, All rights Reserved</span></span><span class="float-md-right d-none d-md-block">Hand-crafted & Made with<i data-feather="heart"></i></span></p>
    </footer>
    <button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button>
    <!-- END: Footer-->


    <!-- BEGIN: Vendor JS-->
    <script src="{% static 'dashboard/app-assets/vendors/js/vendors.min.js' %}"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="{% static 'dashboard/app-assets/vendors/js/charts/apexcharts.min.js' %}"></script>
    <script src="{% static 'dashboard/app-assets/vendors/js/extensions/toastr.min.js' %}"></script>
    <script src="{% static 'dashboard/app-assets/vendors/js/extensions/wNumb.min.js' %}"></script>
    <script src="{% static 'dashboard/app-assets/vendors/js/extensions/nouislider.min.js' %}"></script>
    <script src="{% static 'dashboard/app-assets/vendors/js/extensions/jstree.min.js' %}"></script>
    <script src="{% static 'dashboard/app-assets/vendors/js/forms/select/select2.full.min.js' %}"></script>
    <script src="{% static 'dashboard/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js' %}"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="{% static 'dashboard/app-assets/js/core/app-menu.js' %}"></script>
    <script src="{% static 'dashboard/app-assets/js/core/app.js' %}"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="{% static 'dashboard/app-assets/js/scripts/pages/dashboard-ecommerce.js' %}"></script>
    <script src="{% static 'dashboard/app-assets/js/scripts/pages/app-ecommerce.js' %}"></script>
    <script src="{% static 'dashboard/app-assets/js/scripts/pages/app-file-manager.js' %}"></script>
    <script src="{% static 'dashboard/app-assets/js/scripts/forms/form-validation.js' %}"></script>
    <!-- END: Page JS-->

    <script>
        $(window).on('load', function() {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        })
    </script>
</body>
<!-- END: Body-->

</html>