/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.main-menu .navbar-header .navbar-brand .brand-logo img {
    max-width: 90px !important;
}

.card-profile .card-body .profile-image-wrapper .profile-image {
    position: relative;
}

.card-profile .card-body .profile-image-wrapper {
    margin-bottom: -3rem;
}

html .content .content-wrapper .content-header-title {
    font-weight: 500;
    color: #636363;
    padding-right: 1rem;
    border-right: none;
}

.avatar {
    white-space: nowrap;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    color: #fff;
    display: inline-flex;
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
}
.nav-item-button {
    border: 1px solid #7367f0 !important;
    background-color: transparent;
    color: #7367f0;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}
.card-developer-meetup {
    text-align: center;
}

.header-navbar .navbar-container ul.navbar-nav li a.dropdown-user-link .user-name {
    display: inline-block;
    margin-bottom: 0rem;
    margin-left: 0.2rem;
}

html .navbar-floating.footer-static .app-content .content-area-wrapper, html .navbar-floating.footer-static .app-content .kanban-wrapper {
    height: calc( 100vh - calc( calc(2rem * 1) + 3.45rem + 2.35rem + 1.3rem + 0rem ));
    height: calc( var(--vh, 1vh) * 100 - calc( calc(2rem * 1) + 3.45rem + 2.35rem + 1.3rem + 0rem ));
}

.file-manager-application .view-container .file-manager-item {
    flex: 0 0 23%;
    max-width: 50%;
}

.main-menu.menu-light .navigation li form button {
    color: #625f6e;
    padding: 10px 15px 10px 15px;
    line-height: 1.45;
}